ML/HW_3/data

ML/HW_1/.idea/HW_1.iml
ML/HW_1/.idea/inspectionProfiles/profiles_settings.xml
ML/HW_1/.idea/misc.xml
ML/HW_1/.idea/modules.xml
ML/HW_1/.idea/rSettings.xml
ML/HW_1/.idea/vcs.xml
ALS/BCI-4-ALS/
NLP/ex3/311232730_312460132/.DS_Store
NLP/ex3/311232730_312460132/311232730_312460132.txt
NLP/ex3/311232730_312460132/model/best_model.pkl
NLP/ex3/311232730_312460132/model/embeddings.pkl
NLP/ex3/ex3_311232730_312460132.py
NLP/ex3/311232730_312460132/model/.DS_Store
NLP/.DS_Store
NLP/.DS_Store
NLP/ex_4/data
NLP/ex_4/__pycache__/tagger.cpython-38.pyc
NLP/ex_4/.DS_Store
NLP/ex3/.DS_Store
NLP/.DS_Store
