ML/HW_3/data

ML/HW_1/.idea/HW_1.iml
ML/HW_1/.idea/inspectionProfiles/profiles_settings.xml
ML/HW_1/.idea/misc.xml
ML/HW_1/.idea/modules.xml
ML/HW_1/.idea/rSettings.xml
ML/HW_1/.idea/vcs.xml
ALS/BCI-4-ALS/
NLP/ex3/311232730_312460132/.DS_Store
NLP/ex3/311232730_312460132/311232730_312460132.txt
NLP/ex3/311232730_312460132/model/best_model.pkl
NLP/ex3/311232730_312460132/model/embeddings.pkl
NLP/ex3/ex3_311232730_312460132.py
NLP/ex3/311232730_312460132/model/.DS_Store
NLP/.DS_Store
NLP/.DS_Store
NLP/ex_4/data
NLP/ex_4/__pycache__/tagger.cpython-38.pyc
NLP/ex_4/__pycache__/tagger.cpython-38.pyc
NLP/ex_4/embeddings/vectors.pkl
NLP/ex_4/embeddings/glove.6B.100d.txt
NLP/ex_4/embeddings/.DS_Store
NLP/ex3/.DS_Store
NLP/ex_4/__pycache__/tagger.cpython-38.pyc
NLP/ex_4/LSTM_BASE.pt
NLP/ex_4/LSTM.pt
*.pt
NLP/ex_4/__pycache__/tagger.cpython-38.pyc
*.pyc
*.pt
NLP/ex_4/tagger_new.py
NLP/ex_4/LSTM_BASE.pt
NLP/.DS_Store
NLP/ex_4/.DS_Store
NLP/ex_4/__pycache__/tagger.cpython-38.pyc
NLP/ex_4/train.csv
NLP/ex_4/case_vectors.txt
NLP/ex_4/glove.6B.100d.txt
NLP/ex_4/filterd_embddings.txt
NLP/ex_4/filterd_embddings.txt.txt
RecSys/Ex1/userTestData.csv
*.csv
*.db
NLP/ex3/Figure 2021-03-28 115634.png
*.png
DeepLearning/ex1/Archive.zip
DeepLearning/ex1/ex1_311232730_312460132.zip
*.jpg
*.index
DeepLearning/ex2/.my_checkpoint.data-00000-of-00001
DeepLearning/ex2/checkpoint
RecSys/project/MKR-master/data/book/BX-Book-Ratings.csv
RecSys/project/MKR-master/data/music/user_artists.dat
RecSys/project/MKR-master/data/movie/ratings.dat
*.csv
*.npy
DeepLearning/Ex3/word2vec.model
DeepLearning/Ex3/word2vec.wordvectors
DeepLearning/Ex3/sampled_songs.zip
RecSys/kaggle/Taboola Dataset Notice.docx
DeepLearning/Ex3/train_with_vectors
